<div>
    <div>
        <h1 class="text-3xl"><%= @contact.name %></h1>
        <p class="text-3xl"><%= @contact.phone_number %></p>
    </div>
    <div class="flex space-x-4 my-12">
        <div>
            <%= link_to "Edit", edit_contact_path(@contact), class: "border-black border-solid border-2 rounded-lg p-4 bg-gray-200 hover:bg-blue-400"%>
        </div>
        <div>
            <%= link_to "Destroy", contact_path(@contact), 
                class: "border-black border-solid border-2 rounded-lg p-4 bg-gray-200 hover:bg-blue-400", 
                data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } 
            %>
        </div>
    </div>

    <%= link_to "Back to Contacts", contacts_path, class: "text-blue-600" %>
</div>